pip~=24.1.2
attrs~=24.2.0
pillow~=10.4.0
tornado~=6.4.1
Jinja2~=3.1.4
streamlit~=1.37.1
pytz~=2024.1
toml~=0.10.2
numpy~=2.1.0
colorama~=0.4.6
typing_extensions~=4.12.2
urllib3~=2.2.2
tenacity~=8.5.0
watchdog~=4.0.2
requests~=2.32.3
rich~=13.7.1
mdurl~=0.1.2
torch~=2.4.0
smmap~=5.0.1
certifi~=2024.7.4
pandas~=2.2.2
Pygments~=2.18.0
packaging~=24.1